<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="../static/js/gallery2.js" th:src="@{/js/gallery2.js}"></script>
<link rel="stylesheet" href="../static/css/Gallery1.css" th:href="@{/css/Gallery1.css}">
</head>
<body>

<div class="slideshow-container">
<div class="slideshow-inner">
<div class="mySlides fade" th:each="i : ${imageList}">
<img th:src="@{${i.fullFilePath}}" style="width: 960px; height: 540px; object-fit: cover;"/>
    <div class="text">Test</div>
  </div>
  </div>
<a class="prev" onclick='plusSlides(-1)'>&#10094;</a>
  <a class="next" onclick='plusSlides(1)'>&#10095;</a>
</div>
<br/>
<div style='text-align: center;'>
  <span class="dot" th:each="i, iStat: ${imageList}" th:data-iteration="${iStat}"  onclick="currentSlide(this.getAttribute('data-iteration'))"></span>
</div>
<br><br>
<img style="width: 960px; height: 540px; object-fit: cover;" src="/images/gallery/fireplace1.jpg"/>

</body>
</html>


<!-- <div style='text-align: center;'>
  <img class="dot" th:each="i, iStat: ${imageList}" th:data-iteration="${iStat}"  onclick="currentSlide(this.getAttribute('data-iteration'))" th:src="@{${i.fullFilePath}}" style="width: 96px; height: 54px;"></img>
  
</div> -->