<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>View Order</title>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
<link rel="stylesheet" type="text/css" media="all"  href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>

<header>
	<div class="topnav" id="myTopnav">
		<a href="/" th:href="@{/}" >Home</a>
		<a href="/addOrder" th:href="@{/addOrder}">Add Order</a>
		<a href="/viewOrder" th:href="@{/viewOrder}" class="active">View Order</a>
		<a href="javascript:void(0);" class="icon" onclick="myFunction()">
		  <i class="fa fa-bars"></i>
		</a>
	</div>
</header>
<body>

<h1>Sprint 2</h1>
<div th:if ="${deleteStatus == true}">
Successfully deleted [[${deletedOrder.workOrderId}]]
</div>

  <table th:if="${orderList != null and !orderList.empty}">
	<tr>

		<th>Order ID</th>
		<th>Customer Name</th>
		<th>Customer ID</th>
		<th>Service Name</th>
		<th>Service ID</th>
		<th>Worker Name</th>
		<th>Worker ID</th>
		<th>Date Created</th>
		<th>Invoice Cost</th>
		<th>Next Appointment Date</th>
		<th>Time</th>
		<th>Action</th> 
	</tr>
	<tr th:each="o,i : ${orderList}">
		<td th:text="${o.workOrderId}"></td>
		<td th:text="${customerList[i.index].name}"></td> 
		<td th:text="${customerList[i.index].id}"></td>
		<td th:text="${serviceList[i.index].serviceName}"></td>
		<td th:text="${serviceList[i.index].serviceId}"></td>
		<td th:text="${workerList[i.index].name}"></td>
		<td th:text="${workerList[i.index].id}"></td>
		<td th:text="${o.orderDate}"></td>
		<td th:text="${o.orderCost}"></td>
		<td th:text="${o.appointmentDate}"></td>
		<td th:text="${o.appointmentTime}"></td>
		<td>
			<form method="get" action="#" th:action="@{/editOrder/{workOrderId}/{customerId}/{workerId}/{serviceId}
			(workOrderId=${o.workOrderId},
			customerId=${customerList[i.index].id},
			workerId=${workerList[i.index].id},
			serviceId=${serviceList[i.index].serviceId})}" 
				th:data-workOrderId="${o.workOrderId}"
				th:data-custName="${customerList[i.index].name}">
				<button type="submit">Edit</button>
			</form>
			
				<form method="get" action="#" th:action="@{/deleteOrder/{workOrderId}(workOrderId=${o.workOrderId})}" 
				th:data-workOrderId="${o.workOrderId}"
				th:data-custName="${customerList[i.index].name}"
				onsubmit="return verifyDeleteOrder(this.getAttribute('data-workOrderId'), this.getAttribute('data-custName'))">
					<button type="submit">Delete</button>
				</form>
		</td>
	</tr>
</table>

</body>
</html>