<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Testimonial</title>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
<link rel="stylesheet" type="text/css" media="all"  href="../static/css/style.css" th:href="@{/css/style.css}" />

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

</head>
<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<!-- 	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;"> -->
	  <div class="container-fluid">
	    <a class="navbar-brand" href="#">JSK</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
	      <ul class="navbar-nav">
	        <li class="nav-item">
	          <a class="nav-link"  href="/">Home</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link " aria-current="page" href="/adminView/viewOrder">Order</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/adminView/viewService">Service</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/adminView/viewWorker">Worker</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/adminView/viewCustomer">Customer</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link active" href="/adminView/viewTestimonial">Testimonial</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/adminView/viewImage">Images</a>
	        </li>
	        <li class="nav-item" >
	        	<a class="nav-link" id="btn-danger" href="#" th:href="@{/logout}">Logout</a>	 
	        </li>       
	      </ul>
	    </div>
	  </div>
	</nav>

</header>
<body>

	<h1 class="pageTitle">Testimonials</h1>
	<div th:if="${editStatus == true}" style="color:green">
		Successfully editted [[${t.userName}]]'s Testimonial
	</div>
	<div th:if="${addStatus == true}" style="color:green">
		Successfully added [[${t.userName}]]'s Testimonial
	</div>
	<div th:if="${deleteTestimonial == true}" style="color:green">
		Successfully deleted [[${deletedTest.userName}]]'s Testimonial
	</div>
	<div class="d-grid gap-2 d-md-flex justify-content-md-end">
		<a href="/adminView/addTestimonial" th:href="@{/adminView/addTestimonial}" class="btn btn-info" role="button">Add Testimonial</a>
	</div>
	
	<br>
	

<div style="margin-bottom:1%" >
	<form method="post" action="#" th:action="@{/adminView/viewTestimonial}" >
		<select name="filterOption" class="searchDrop" required>
		<option value="" selected disabled hidden>Choose here</option>
			<option value="1" th:selected="${filterOption == '1'}">Service Name</option>
			<option value="2" th:selected="${filterOption == '2'}">User Name</option>
		    <option value="3" th:selected="${filterOption == '3'}">User Email</option>
		   </select>
		<input type="text" name="searchInput" style="padding-right:10%; width:30% " th:value="${searchInput}" placeholder="Search by Criteria">
		<input type="submit" value="Search" >
		<input type="submit" value="Reset" >
		
	</form>

</div>
<div th:if ="${emptyAlert == true}" style="color:red">
	 	There are no matches for your search
	</div>
	<table th:if="${testList != null and !testList.empty}" class="table table-striped" id="testimonialTable">
		<tr class="table-info">
			<th><a href="#" onclick="return sortTestimonialTableById();">Testimonial Id</a></th>
			<th><a href="#" onclick="return sortTestimonialTableByServiceName();">Service Name</a></th>
			<th><a href="#" onclick="return sortTestimonialTableByUserName();">User Name</a></th>
			<th><a href="#" onclick="return sortTestimonialTableByEmail()" >User Email</a></th>
			<th><a href="#" onclick="return sortTestimonialTableByTestimonial();">Testimonial</a></th>
			<th><a href="#" onclick="return sortTestimonialTableByDisplay();">To Display</a></th>
			<th>Action</th>
		</tr>
		<tr th:each="t : ${testList}">
			<td th:text="${t.testimonialId}"></td>
			<td th:text="${t.serviceName}"></td>
			<td th:text="${t.userName}"></td>
			<td th:text="${t.userEmail}"></td>
			<td th:text="${t.userTestimonial}"></td>
			<td th:text="${t.toDisplay}"></td>
			<td>
			
			<div class="row">
				<div class="col-sm-1">
					<div class="row">
						<form method="get" action="#" th:action="@{/adminView/deleteTestimonial/{testimonialId}(testimonialId=${t.testimonialId})}"
						th:data-userName="${t.userName}"
						onsubmit="return verifyDeleteTestimonial(this.getAttribute('data-userName'))">
							<button class="noStyleBtn"><img th:src="@{/images/delete.png}"  alt="delete.png" /></button>
						</form>
					</div>
					<div class="row">
						<div class="col-sm-1 smallText">Delete</div>
					</div>
				</div>
				<div class="col-sm-1"></div> <!-- empty for spacing -->
				<div class="col-sm-1">
					<div class="row">
						<form method="get" action="#" th:action="@{/adminView/editTestimonial/{testimonialId}(testimonialId=${t.testimonialId})}">
							<button class="noStyleBtn"><img th:src="@{/images/pencil.png}"  alt="pencil.png" /></button>
						</form>
					</div>
					<div class="row">
						<div class="col-sm-1 smallText">Edit</div>
					</div>
				</div>
			</div>
		
			</td>
		</tr>
	</table>
	
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>