.navbar{
	background-color:rgb(230,212,191);
	
}
.navbar-brand{
	color:black;
}

.nav-link{
	color:black;
}
footer{
	background-color:RGB(128,111,104);
}
li{
	width:10rem;
	text-align:center;
	margin-left:0.25rem;
	margin-right:0.25rem;
}