.gallery-slideshow {
    max-width: 750px;
    position: relative;
    margin: auto;
  }
  
  .text {
    color: black;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .currentImage{
      display: none;
  }
  .slide {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}
.licenter {
    float: center ;
    margin-left: auto;
    margin-right: auto;
}

li a:hover {
    background-color: rgba(128,111,104);
    color:white;
  }
  
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }

.w3-animate-left{
    position:relative;
    animation:animateleft 0.4s}

    @keyframes animateleft{
        from{left:-300px;opacity:0} 
        to{left:0;opacity:1}}

        .row {
          display: flex;
          flex-wrap: wrap;
          padding: 0 4px;
        }
        
      
        .column {
          flex: 30%;
          max-width: 30%;
          padding: 0 4px;
        }
        
        .column img {
          margin-top: 8px;
          vertical-align: middle;
          width: 100%;
        }       
        
        
 /* testing */
 
 .slideshow-container {
    max-width: 960px;
    position: relative;
    margin: auto
}

.mySlides {
    display: none;
  height: 560px;
  border: solid 1px black;
     
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding-top: 12px;
  padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222428
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0
}



/*NEW STUFF*/
/* @charset "UTF-8"; */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.slideShowPreview{
	max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
  height: 540px;
  border: solid 1px black;
     
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding-top: 12px;
  padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222428
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    padding-top:3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    /* background-color: #bbb; */
    /* border-radius: 50%; */
    display: inline-block;
    transition: background-color .6s ease
}

.active,
.dot:hover {
   background-color: black;
}

.fade:not(.show) {
    opacity: 1 !important;
}
a{
	text-decoration:none !important;
}

.email {
  color: black;
  text-decoration: none;
}

.email:visited 
{
    color: black;
    text-decoration: none;
}

.emailfooter {
  color: white;
  text-decoration: none;
}

.emailfooter:visited 
{
    color: white;
    text-decoration: none;
}