html {
	/*font-family: Tahoma;*/
	font-family: Calibri;
	max-width: 75%;
	margin: auto;
}

.home {
	text-align: center;
}

.error {
	color: red;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.addOrderStyle {
	padding: 15px;
}

.pageTitle {
	text-align: center;
}

.noStyleBtn {
	padding: 0;
	border: none;
	background: none;
}

.smallText {
	font-size: 10px;
}

label {
	display: block;
}

textarea {
	display: block;
}
#btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
	border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 }
.searchDrop{
	padding-top: 0.35%;
	padding-bottom: 0.35%;
	
}

#navbarNav{
	margin-left:auto;
	margin-right: auto;
	
}




